.widget {
  padding: 1rem;
  background: #fff;
  color: #4a5568;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  user-select: none;
  font-family: sans-serif;

  .location {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .weather-main {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    .icon {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      font-size: 3rem;
      font-weight: 600;
      color: #d6bcfa;

      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .temperature {
      flex: 1;
      margin-left: 0.5rem;
      font-size: 1.125rem;
      font-weight: 700;
    }
  }

  .description {
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }

  .details {
    margin-top: 1rem;
    font-size: 0.875rem;
    text-align: left;

    .row {
      display: flex;
      margin-bottom: 0.25rem;

      .half {
        flex: 1;
        display: flex;
        align-items: center;
      }

      .half+.half {
        margin-left: 0.25rem;
      }
    }
  }
}
