.app-container {
  width: 16rem;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-left: 8px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  position: relative;
  box-sizing: border-box;
}

.toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 16px;
  width: 24px;
  height: 24px;
}
